.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.card__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.card__image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card__image:hover {
  opacity: 0.6;
}
